@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideside{
    from {transform:translateX(-10px);opacity:0;}
    to {transform: translateX(0);opacity:1;}
}

.animate-slideside{
    animation:slideside 1s ease-in-out;
}